@font-face {
  font-family: 'Flame';
  src: url('./assets/fuentes/FlameRegular.otf ') format('opentype');
  font-weight: normal;
}

@font-face {
  font-family: 'FlameBold';
  src: url('./assets/fuentes/FlameBold.otf') format('opentype');
  font-weight: normal;
}

@font-face {
  font-family: 'FlameSans';
  src: url('./assets/fuentes/FlameSans.otf') format('opentype'); /* sin espacio y sin doble slash */
}
.pp {
  font-family: 'FlameSans', Arial, sans-serif;
  font-size: 25px;
  line-height: 1.6;
  color: #4a2c6b;
}

strong {
  font-family: 'Flame', Arial, sans-serif;
  font-size:  23px;
}

.normal {
  font-family: 'Flame', Arial, sans-serif;
  font-size:  20px;
}
body {
      margin: 0;
      font-family: Arial, sans-serif;
      background: #f8f0ff;
      color: #3a245d;
      align-items: center;
    }

    .card2 {
      background: white;
      padding: 20px;
      border-radius: 12px;
      box-shadow: 0 0 10px rgba(0,0,0,0.1);
      margin-top: 15px;
      border-top:#b47bff  4px solid;
      border-bottom:#b47bff  1px solid;
      font-family: 'FlameSans', Arial, sans-serif;
      font-size: 18px;
    }

    .paya {
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 50%;
    }


    header {
      position: fixed;
      top: 0;
      width: 100%;
      background: #b47bff;
      padding: 15px 20px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      box-shadow: 0 2px 5px rgba(0,0,0,0.2);
      z-index: 1000;
    }


    header h1 {
      margin: 0;
      font-size: 22px;
      color: white;
      display: flex;
      align-items: center;
      gap: 10px;
    }


    nav a {
      color: white;
      margin: 0 14px;
      left: -70px;
      text-decoration: none;
      font-weight: bold;
      position: relative;
    }


    nav a:hover {
      text-decoration: underline;
    }


    section {
      padding: 100px 150px 60px;
      max-width: 1000px;
      margin: auto;
    }


    h2 {
      color: #6a1b9a;
      font-size: 28px;
      border-left: 6px solid #c084ff;
      padding-left: 10px;
    }


    .card {
      background: white;
      padding: 20px;
      border-radius: 12px;
      box-shadow: 0 0 10px rgba(0,0,0,0.1);
      margin-top: 15px;
    }


    iframe {
      width: 100%;
      height: 300px;
      border-radius: 12px;
      border: none;
      margin-top: 10px;
    }


    .gatito {
      font-size: 40px;
      display: inline-block;
      margin-right: 10px;
    }